<!doctype html>
<html>
  <head>
    <link href="./stylesheets/homepage.css" rel="stylesheet" type="text/css" />
    <script src="./scripts/cookbook.js"></script>
  </head>
  <body>
    <div class="main-container">
    <img src="https://mimo.app/i/logo.png">
    <div>
    <h4>FEATURED RECIPE</h4>
    <img src="https://mimo.app/i/cheesecake.png">
    <input id= "searchbox" type="text" placeholder="Look for a recipe">
    <input id="submit-button" type="button" onclick="displaySearchTerm()" value = "Search">
    <div id = "optional"></div>
   <p><a href="./recipe1.html">See Recipe >>></a></p>
   </div>
   <div>
   <h4>OTHER RECIPES</h4>
   <img src="https://mimo.app/i/dumplings.png">
   <p><a href="./recipe2.html">See Recipe >>></a></p>
   </div>
  </div>
  </body>
</html>